<p>
  <b>Name:</b>
  <%=h @option_type.name %>
</p>

<p>
  <b>Of type:</b>
  <%=h @option_type.of_type %>
</p>


<%= link_to 'Edit', edit_option_type_path(@option_type) %> |
<%= link_to 'Back', option_types_path %>
